*.dat
*.script
*.table
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
prv_*.fmt
prv_*.log
*~
*_.*
*.swp
.DS_Store
*.rel
*.nav
*.snm
*.fdb_latexmk
*.fls
*.pdf
